<footer class="footer" role="contentinfo">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <h3>About FastPorte</h3>
      </div>
    </div>
      <div class="col-md-4 text-center social">
        <p class="social">
          <a href="https://twitter.com"><i class="fab fa-twitter"></i></a>
          <a href="https://facebook.com"><i class="fab fa-facebook"></i></a>
          <a href="https://instagram.com"><i class="fab fa-instagram"></i></a>
          <a href="https://linkedin.com"><i class="fab fa-linkedin"></i></a>
        </p>
      </div>
    <div class="col-md-4 text-right">
        <p class="copyright">&copy; Copyright FastPorte. </p>
      </div>
  </div>
</footer>
