<app-toolbar-client></app-toolbar-client>
<div class="container" style="margin-bottom: 20px;">
  <br><br><br>
  <div class="row">
    <div class="col-md-4">
      <h1>Recent Contracts</h1>
      <div *ngFor="let contract of clientContracts" class="contract-card"><br>
        <h1 class="card-title"><strong>Servicios:</strong> {{ contract.servicios }}</h1><br>
        <p class="card-text"> <strong>Transportista:</strong> {{ company.fullName }}</p>
        <p class="card-text"> <strong>Dirección de Entrega:</strong> {{ contract.direccionEntrega }}</p>
        <p class="card-text"><strong>Dirección de Destino:</strong> {{ contract.direccionDestino }}</p>
        <p class="card-text"><strong>Fecha del Servicio:</strong> {{ contract.fechaServicio }}</p>
        <p class="card-text"><strong>Hora del Servicio:</strong> {{ contract.horaServicio }}</p>
        <p class="card-text"><strong>Costo del Servicio:</strong> S/ {{ contract.costoServicio || 'Aún no definido' }}</p>
        <p class="card-text"><strong>Estado:</strong> {{ contract.estado }}</p><br>
        <button id="submitButton" *ngIf="contract.estado === 'Aceptado'" (click)="finalizarReserva(contract)">Finalizar Reserva</button>
        <button id="cancelButton" *ngIf="contract.estado === 'En proceso'" (click)="cancelarReserva(contract)">Cancelar Reserva</button>
        <button id="submitButtonCosto" *ngIf="contract.estado === 'Programado'" (click)="aceptarCosto(contract)">Aceptar Costo</button><span></span>
        <button id="cancelButtonCosto" *ngIf="contract.estado === 'Programado'" (click)="rechazarCosto(contract)">Rechazar Costo</button>
      </div>
    </div>
    <div class="col-md-4">
      <h1>Contracts Accepted</h1>
        <!-- Mostrar contratos aceptados aquí -->
      </div>
    <div class="col-md-4">
      <h1>Contracts Rejected</h1>
      <div *ngFor="let contract of rejectedPermanentContracts" class="contract-card">
        <h1 class="card-title"><strong>Servicios:</strong> {{ contract.servicios }}</h1><br>
        <p class="card-text"><strong>Dirección de Entrega:</strong> {{ contract.direccionEntrega }}</p>
        <p class="card-text"><strong>Dirección de Destino:</strong> {{ contract.direccionDestino }}</p>
        <p class="card-text"><strong>Fecha del Servicio:</strong> {{ contract.fechaServicio }}</p>
        <p class="card-text"><strong>Hora del Servicio:</strong> {{ contract.horaServicio }}</p>
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>
