<app-toolbar-client></app-toolbar-client>
<div class="support-section">
  <div class="column1">
    <div class="message">
      <h1>Do you need help!</h1>
    </div>
    <img src="https://i.postimg.cc/d35Gk7kr/support-icon-for-your-website-design-logo-app-ui-free-vector-removebg-preview.png" alt="Imagen de soporte">
  </div>


  <div class="column2">
    <div class="contact-info">
      <div class="correo">
        <p><i class="fa fa-envelope"> </i>flashporte@gmail.com</p>
      </div>
      <br>
      <div class="telefono">
        <p><i class="fa fa-phone"> </i>+51 992 457 186</p>
      </div>

    </div>
    <br>
    <div class="social-links">
      <a href="https://www.facebook.com/"><i class="fa fa-facebook"></i></a>
      <a href="https://www.instagram.com/"><i class="fa fa-instagram"></i></a>
      <a href="https://www.twitter.com/"><i class="fa fa-twitter"></i></a>
    </div>
    <br>
    <br>
    <button (click)="redirectToWhatsApp()"><i class="fa fa-whatsapp"></i> Send us message</button>
    <br>
  </div>
</div>
<app-footer-principal></app-footer-principal>
