.img-logo {
  width: 80px;
  height: 80px;
  margin-right: 10px;
}

.user-info {
  display: flex;
  align-items: center; /* Centra verticalmente el contenido en el contenedor */
  margin-left: 1790px;
}

/* Update the font size for the user's full name */
.mat-toolbar .user-full-name {
  color: white;
  font-size: 14px; /* Increase or decrease the font size as needed */
  white-space: nowrap; /* Prevent the full name from wrapping */
  overflow: hidden;
  text-overflow: ellipsis; /* Add an ellipsis if the name is too long */
}

a{
  color: white;
}

.toolbar-section {
  background-color: #0205a1;
  padding: 20px 0;
}

.btn-section {
  display:flex;
  flex-wrap: wrap;
  min-width: 300px;
}

.toolbar-btn:hover {
  background-color: #3ab1d3;
}

.toolbar-text {
  font-size: 13px;
}

mat-toolbar {
  background-color: #0205a1;
  color:white;
  font-size: 13px;
}

.mat-toolbar a {
  color: white;
}

.mat-toolbar button.mat-icon-button {
  color: white;
}

.mat-toolbar .user-full-name {
  color: white;
}

.toolbar-btn-logout {
  background-color: black;
}

.toolbar-btn-logout:hover {
  background-color: #b5b3b3;
}
