<app-toolbar-client></app-toolbar-client>
<div class="container">
<div class="card">
  <img src="{{company.photo}}" alt="">
  <div class="card-info">
    <h1>Transportista:</h1>
    <h2>{{company.fullName}}</h2>
    <p><strong>Trabajo:</strong>{{company.job}}</p>
    <p><strong>Descripción:</strong>{{company.user_description}}</p>
    <p><strong>Dirección:</strong>{{company.country}}</p>
    <p><strong>Email:</strong> {{company.email}}</p>
    <p><strong>Número de contacto:</strong> {{company.Celular}}</p>
  </div>
</div>

<!-- Formulario de reserva -->

<div class="form">
  <form id="reserva-form">
    <label for="fechaHoy">Fecha de hoy:</label>
    <input type="date" id="fechaHoy" name="fechaHoy" placeholder="Ex. 2023-09-25" required><br><br>

    <label for="servicios">Servicios:</label>
    <input type="text" id="servicios" name="servicios" placeholder="Ex. Carga" required><br><br>

    <label for="direccionEntrega">Dirección de entrega:</label>
    <input type="text" id="direccionEntrega" name="direccionEntrega" placeholder="Ex. Monterrico" required><br><br>

    <label for="direccionDestino">Dirección de destino:</label>
    <input type="text" id="direccionDestino" name="direccionDestino" placeholder="Ex. Monterrico" required><br><br>

    <label for="fechaServicio">Fecha cuando el servicio se lleva a cabo:</label>
    <input type="date" id="fechaServicio" name="fechaServicio" placeholder="Ex. 2023-09-30" required><br><br>

    <label for="horaServicio">Hora cuando el servicio se lleva a cabo:</label>
    <input type="time" id="horaServicio" name="horaServicio" placeholder="Ex. 16:00" required><br><br>

    <label for="numeroTarjeta">Número de tarjeta de pago:</label>
    <input type="text" id="numeroTarjeta" name="numeroTarjeta" placeholder="Ex. 0000000000000000" required><br><br>

    <label for="cvvTarjeta">CVV de la tarjeta de pago:</label>
    <input type="text" id="cvvTarjeta" name="cvvTarjeta" placeholder="000" required><br><br>

    <label for="vencimientoTarjeta">Fecha de vencimiento de la tarjeta:</label>
    <input type="text" id="vencimientoTarjeta" name="vencimientoTarjeta" placeholder="00/00" required><br><br>

    <input type="submit" value="Realizar reserva">
  </form>
</div>

</div>

    <form  id="reseñas-form">
      <label >Nombre de usuario:</label>
      <input type="text" id="nombreUsuario" name="nombreUsuario" placeholder="Escribe tu nombre de usuario" required [(ngModel)]="nombreUsuario"><br><br>

      <label for="calificacion">Calificación:</label>
      <div class="rating">
        <span class="star" (click)="setRating(1)">&#9733;</span>
        <span class="star" (click)="setRating(2)">&#9733;</span>
        <span class="star" (click)="setRating(3)">&#9733;</span>
        <span class="star" (click)="setRating(4)">&#9733;</span>
        <span class="star" (click)="setRating(5)">&#9733;</span>
      </div>
      <input type="hidden" id="calificacion" name="calificacion" value="0" required [(ngModel)]="calificacion">

      <label for="resenia">Reseña:</label>
      <textarea id="resenia" name="resenia" placeholder="Escribe tu reseña" required [(ngModel)]="resenia"></textarea><br><br>

      <input type="submit" value="Enviar Reseña">
    </form>

      <label for="direccionDestino">Dirección de destino:</label>
      <input type="text" id="direccionDestino" name="direccionDestino" placeholder="Ex. Monterrico" required><br><br>

      <label for="fechaServicio">Fecha cuando el servicio se lleva a cabo:</label>
      <input type="date" id="fechaServicio" name="fechaServicio" placeholder="Ex. 2023-09-30" required><br><br>

      <label for="horaServicio">Hora cuando el servicio se lleva a cabo:</label>
      <input type="time" id="horaServicio" name="horaServicio" placeholder="Ex. 16:00" required><br><br>

      <label for="numeroTarjeta">Número de tarjeta de pago:</label>
      <input type="text" id="numeroTarjeta" name="numeroTarjeta" placeholder="Ex. 0000000000000000" required><br><br>

      <label for="cvvTarjeta">CVV de la tarjeta de pago:</label>
      <input type="text" id="cvvTarjeta" name="cvvTarjeta" placeholder="000" required><br><br>

      <label for="vencimientoTarjeta">Fecha de vencimiento de la tarjeta:</label>
      <input type="text" id="vencimientoTarjeta" name="vencimientoTarjeta" placeholder="00/00" required><br><br>

      <input type="submit" value="Realizar reserva">
    </form>
  </div>
</div>
<app-footer></app-footer>
