<app-toolbar-client></app-toolbar-client>
<div class="container">
<div class="card">
  <img src="{{company.photo}}" alt="">
  <div class="card-info"><br>
    <h1>Transportista:</h1><br>
    <h2>{{company.fullName}}</h2><br>
    <p><strong>Trabajo:</strong>{{company.job}}</p><br>
    <p><strong>Descripción:</strong>{{company.user_description}}</p><br>
    <p><strong>Dirección:</strong>{{company.country}}</p><br>
    <p><strong>Email:</strong> {{company.email}}</p><br>
    <p><strong>Número de contacto:</strong> {{company.Celular}}</p>
  </div>
</div>

<div class="form">
  <form id="reserva-form" action="" method="post" [formGroup]="ContractsForm" (ngSubmit)="onSubmit()">
    <label for="nombre">Nombre del que reserva:</label>
    <input type="text" id="nombre" formControlName="nombre" placeholder="Ex. Juan Lopez" required><br><br>

    <label for="foto">Foto:</label>
    <input type="text" id="foto" formControlName="foto" placeholder="Ex. Link de Foto" required><br><br>

    <label for="fechaHoy">Fecha de hoy:</label>
    <input type="date" id="fechaHoy" formControlName="fechaHoy" placeholder="Ex. 2023-09-25" required><br><br>

    <label for="servicios">Servicios:</label>
    <input type="text" id="servicios" formControlName="servicios" placeholder="Ex. Carga" required><br><br>

    <label for="direccionEntrega">Dirección de entrega:</label>
    <input type="text" id="direccionEntrega" formControlName="direccionEntrega" placeholder="Ex. Monterrico" required><br><br>

    <label for="direccionDestino">Dirección de destino:</label>
    <input type="text" id="direccionDestino" formControlName="direccionDestino" placeholder="Ex. Monterrico" required><br><br>

    <label for="fechaServicio">Fecha cuando el servicio se lleva a cabo:</label>
    <input type="date" id="fechaServicio" formControlName="fechaServicio" placeholder="Ex. 2023-09-30" required><br><br>

    <label for="horaServicio">Hora cuando el servicio se lleva a cabo:</label>
    <input type="time" id="horaServicio" formControlName="horaServicio" placeholder="Ex. 16:00" required><br><br>

    <label for="numeroTarjeta">Número de tarjeta de pago:</label>
    <input type="text" id="numeroTarjeta" formControlName="numeroTarjeta" placeholder="Ex. 0000000000000000" required><br><br>

    <label for="cvvTarjeta">CVV de la tarjeta de pago:</label>
    <input type="text" id="cvvTarjeta" formControlName="cvvTarjeta" placeholder="000" required><br><br>

    <label for="vencimientoTarjeta">Fecha de vencimiento de la tarjeta:</label>
    <input type="text" id="vencimientoTarjeta" formControlName="vencimientoTarjeta" placeholder="00/00" required><br><br>

    <input type="submit" value="Realizar reserva">
  </form>
</div>
  <div id="errorMessages" class="error-messages" [innerHTML]="errorMessage">{{errorMessage}}</div>
</div>
<div class="review">
    <form  id="reseñas-form" action="" method="post" [formGroup]="ReviewsForm" (ngSubmit)="onReviewSubmit()">
      <label >Nombre de usuario:</label>
      <input type="text" id="nombreUsuario" formControlName="nombreUsuario" placeholder="Escribe tu nombre de usuario" required [(ngModel)]="nombreUsuario"><br><br>

      <label for="calificacion">Calificación:</label>
      <div class="rating">
        <span class="star" (click)="setRating(1)">&#9733;</span>
        <span class="star" (click)="setRating(2)">&#9733;</span>
        <span class="star" (click)="setRating(3)">&#9733;</span>
        <span class="star" (click)="setRating(4)">&#9733;</span>
        <span class="star" (click)="setRating(5)">&#9733;</span>
      </div>
      <input type="hidden" id="calificacion" formControlName="calificacion" value="0" required [(ngModel)]="calificacion">

      <label for="resenia">Reseña:</label>
      <textarea id="resenia" formControlName="resenia" placeholder="Escribe tu reseña" required [(ngModel)]="resenia"></textarea><br><br>
      <input type="submit" value="Enviar Reseña">
    </form>
</div>
<app-footer></app-footer>
