body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 10px;
}

.app-toolbar-client {
  /* Estilos para tu barra de herramientas */
}

.content {
  display: flex;
  justify-content: space-between;
  padding: 20px;
}

.card {
  width: 25%; /* Ajusta el ancho según tus necesidades */
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  padding: 20px;
  margin-right: 10px; /* Espacio entre el card y el formulario */
}

.card img {
  max-width: 100%;
  height: auto;
}

.card-info {
  margin-top: 10px;
}

.card-info h1 {
  font-size: 24px;
  font-weight: bold;
  margin: 0;
}

.card-info h2 {
  font-size: 20px;
  margin: 0;
}

.card-info p {
  margin: 5px 0;
  text-align: justify;
}

.form {
  width: 25%; /* Ajusta el ancho según tus necesidades */
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.form label {
  font-weight: bold;
  margin-top: 10px;
}

.form input,
.form textarea,
.form select {
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

.form .rating {
  font-size: 24px;
  margin-top: 10px;
}

.form-content{
  margin: 2px;
}
/* Estilos adicionales y personalización según tus preferencias */
/* Estilos para el formulario */
.form-content {
  margin-top: 20px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  max-width: 400px; /* Ancho máximo personalizado */
  margin: 0 auto;
}

.form-content label {
  font-weight: bold;
  margin-top: 10px;
  display: block;
}

.form-content input[type="text"],
.form-content input[type="date"],
.form-content input[type="time"],
.form-content input[type="number"],
.form-content input[type="password"],
.form-content textarea {
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

.form-content input[type="submit"] {
  background-color: #007BFF; /* Color de fondo del botón */
  color: #fff; /* Color del texto del botón */
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 20px;
}

.formulario-content input[type="submit"]:hover {
  background-color: #0056b3; /* Cambia el color de fondo en el hover */
}

/* Estilos adicionales y personalización según tus preferencias */


.container {
  display: flex;
  justify-content: space-around;
  padding: 20px;
}

.card {
  width: 45%; /* Ajusta el ancho según tus necesidades */
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  padding: 20px;
  margin-right: 10px; /* Espacio entre el card y el formulario */
}

.form {
  width: 45%; /* Ajusta el ancho según tus necesidades */
  padding: 30px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

/*/////////////////////////////////////////////////////////////*/

#reseñas-form {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f9f9f9;
}

#reseñas-form label {
  font-weight: bold;
  margin-top: 10px;
  display: block;
}

#reseñas-form input[type="text"],
#reseñas-form input[type="date"],
#reseñas-form input[type="time"],
#reseñas-form input[type="number"],
#reseñas-form input[type="password"],
#reseñas-form textarea {
  width: 90%;
  padding: 10px;
  margin-top: 5px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

#reseñas-form .rating {
  font-size: 24px;
  margin-top: 10px;
}

#reseñas-form .star {
  cursor: pointer;
  color: #ffcc00; /* Color de las estrellas no seleccionadas */
}



#reseñas-form input[type="submit"] {
  background-color: #007BFF; /* Color de fondo del botón */
  color: #fff; /* Color del texto del botón */
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 20px;
}

#reseñas-form input[type="submit"]:hover {
  background-color: #0056b3; /* Cambia el color de fondo en el hover */
}
