<app-toolbar-client></app-toolbar-client>
<div class="container">
  <h2>Contratos del Cliente</h2>
  <div *ngFor="let contract of clientContracts">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title"><strong>Servicios:</strong> {{ contract.servicios }}</h5>
        <br>
        <p class="card-text"> <strong>Dirección de Entrega:</strong> {{ contract.direccionEntrega }}</p>
        <p class="card-text"><strong>Dirección de Destino:</strong> {{ contract.direccionDestino }}</p>
        <p class="card-text"><strong>Fecha del Servicio:</strong> {{ contract.fechaServicio }}</p>
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>

