/* Estilos para el contenedor */
.container {
  text-align: center;
  padding: 20px;
}

/* Estilos para el contenedor de los cards */
.card-container {
  display: flex;
  gap: 20px; /* Espacio entre los cards */
}

/* Estilos para los cards */
.card {
  border: 1px solid #ccc;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 20px;
  width: 300px;
  background-color: #fff;
  transition: transform 0.2s;
  justify-content: space-around;
}

.card:hover {
  transform: scale(1.05);
}

/* Estilos para el título del card */
.card-title {
  font-size: 24px;
  font-weight: bold;
  margin: 10px 0;
}

/* Estilos para el texto del card */
.card-text {
  font-size: 18px;
  margin: 5px 0;
  color: #333;
}
