<app-toolbar-company></app-toolbar-company>
<br><br><br><br>
  <div class="home-container">
    <img src="{{company.photo }}" alt="Home Picture" class="circular-image">
    <div class="greeting">
      <h1>Hi, <br> {{ company.user_name }}!</h1>
    </div>
  </div>
<br><br><br>
<div class="container">
  <div class="popular">
    <h2>Popular Clients</h2>
      <div *ngFor="let client of clients" class="left-container">
        <div class="client-details">
          <img src="{{ client.photo }}" alt="client" class="circular-image">
          <div class="info">
            <h3>{{ client.fullname }}</h3>
            <p>{{ client.email }}</p>
            <p>{{ client.country }}</p>
          </div>
        </div>
    </div>
  </div>
  <div class="contracts">
    <h2>Contracts</h2>
      <div class="right-container">
      </div>
  </div>
</div>
<app-footer></app-footer>
