.left-column {
  display: flex;
  align-items: center;
  margin-left: 200px;
}

.home-wrapper {
  display: flex;
  align-items: flex-end;
}

.home-circle {
  position: relative;
  width: 100px;
  height: 100px;
  margin-left: 150px;
}

.home-circle img {
  width: 150px;
  height: 150px;
  object-fit: cover;
  border-radius: 50%;
}

.connected-indicator {
  width: 25px;
  height: 25px;
  background-color: #5ade5d;
  border-radius: 50%;
  position: unset;
  bottom: 0;
  right: 0;
  box-shadow: 0 0 4px rgba(255, 255, 255, 0.8);
  border: 2px solid white;
}

.home-info {
  display: flex;
  flex-direction: column;
}

h1 {
  font-size: 32px;
  font-weight: bold;
  margin-left: 200px;
}

.service-card {
  border: 1px solid #ccc;
  padding: 16px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin: 16px;
  text-align: center;
}

.service-card h2 {
  margin: 0;
}

.rating {
  margin-top: 8px;
}
/* service-card.component.css */

.star-rating {
  display: inline-block;
  font-size: 24px;
  color: #FFD700; /* Color dorado para las estrellas */
}

.star-rating .star {
  display: inline-block;
  margin-right: 4px; /* Espacio entre las estrellas */
}

/* Estilo de estrella vacía */
.star-rating .star::before {
  content: "\2606"; /* Código de estrella vacía */
}

/* Estilo de estrella llena */
.star-rating .star.full::before {
  content: "\2605"; /* Código de estrella llena */
}

.button {
  display: inline-block;
  padding: 8px 16px;
  background-color: #007bff; /* Cambia el color de fondo según tu preferencia */
  color: white;
  text-decoration: none;
  border-radius: 20px; /* Bordes ovalados */
  margin-top: 12px;
}
