<app-toolbar-company></app-toolbar-company>
<br><br><br><br>
  <div class="home-container">
    <img src="{{company.photo }}" alt="Home Picture" class="circular-image">
    <div class="greeting">
      <h1>Hi, <br> {{ company.user_name }}!</h1>
    </div>
  </div>
<br><br><br>
<div class="container">
  <div class="popular">
    <h2>Popular Clients</h2>
      <div *ngFor="let client of clients" class="left-container">
        <div class="client-details">
          <!--<img src="{{ client.photo }}" alt="client" class="circular-image">-->
          <div class="info">
            <h3>{{ client.fullname }}</h3>
            <p>{{ client.email }}</p>
            <p>{{ client.country }}</p>
          </div>
        </div>
    </div>
  </div>
  <div class="contracts">
    <h2>Recent Contracts</h2>
      <div *ngFor="let contract of contracts" class="right-container">
        <img [src]="getContractClientPhoto(contract)" alt="Client Photo" class="circular-image">
        <div class="contract-details">
          <h3>{{ getContractClientName(contract) }}</h3>
          <p><strong>Servicio:</strong> {{ contract.servicios }}</p>
          <p><strong>Date:</strong> {{ contract.fechaServicio }}</p>
          <p><strong>Time:</strong> {{ contract.horaServicio }}</p>
        </div>
      </div>
  </div>

</div>
<app-footer></app-footer>
