<app-toolbar-client></app-toolbar-client>
<br><br><br><br>
<div class="home-container">
  <img src="{{client.photo }}" alt="Home Picture" class="circular-image">
  <div class="greeting">
    <h1>Hi, <br> {{ client.user_name }}!</h1>
  </div>
</div>
<br><br><br>
<div class="container">
  <div class="popular">
    <h2>Popular Drivers</h2>
    <div *ngFor="let driver of popularDrivers" class="left-container">
      <div class="company-details">
        <img src="{{ driver.photo }}" alt="company" class="circular-image">
        <div class="info">
          <h3>{{ driver.fullName }}</h3>
          <p>{{ driver.email }}</p>
          <p>{{ driver.country }}</p>
        </div>
      </div>
    </div>
  </div>
  <div class="contracts">
    <h2>Recent Contracts</h2>
  </div>
</div>
<app-footer></app-footer>
